body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.container-center {
  @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
}

.bright {
  @apply text-2xl sm:text-3xl font-extrabold text-blue-700 drop-shadow;
}
